@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap');


/* BASIC STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-grey: rgba(75, 85, 99, 1);
  --color-white: #fff;
  --color-black: #000;
  --color-green: rgba(34, 164, 90, 1);
  --color-green-dark: #00353B;
  --color-blue: rgba(31, 41, 55, 1);
  --color-pink: rgba(252, 216, 202, 1);
  --color-gold: rgba(224, 180, 32, 1);
  --color-bg: rgba(0, 53, 59, 1);

}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: clamp(1rem,1.25vw,2.4rem);
  line-height: 1.4;
  color: var(--color-grey);
}

.container {
  max-width: 128rem;
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


/*=== SECTION HEADER ===*/


.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 6rem 15%;
}

/* .section-header__title {

} */

.section-header__text {
  margin-top: 2rem;
}

.section-header__btn {
  margin-top: 4rem;
}

.section-header__flag {
  margin-bottom: 1.5rem; 
}

@media screen and (max-width: 576px) {
  .section-header {
    padding: 2rem 5%;
  }

  .section-header__title {
    margin: 0;
  }
  
  .section-header__text {
    margin-top: 1rem;
  }

  .section-header__btn {
    margin-top: 2rem;
  }
  
}



/*=== TITLES ===*/


.title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--color-blue);
  margin: 0;
}

.title--white {
  color: var(--color-white);
}

.title--blue {
  color: var(--color-blue);
}

h1 {
  font-size: clamp(2.8rem,3.9vw,6.4rem);
}

h2 {
  font-size: clamp(2.6rem,3.6vw,5.4rem);
}

h3 {
  font-size: clamp(1.8rem,1.7vw,3.2rem);
}


/*=== BURGER ===*/

.burger {
  display: none;
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--color-white);
}

/*=== LIST ===*/

.list {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.list--column {
  flex-direction: column;
}
/*=== BUTTONS ===*/

button {
  background: none;
  border: none;
  color: inherit;
}

.btn {
  padding: clamp(0.6rem,1vw,2rem) clamp(1.2rem,2vw,4rem);
  border-radius: .8rem;
  cursor: pointer;
}

.btn--icon {
  display: flex;
  align-items: center;
  gap: .8rem;
}
.btn--icon svg {
  width: clamp(1rem, 1.2vw, 2.5rem);
  height: clamp(0.7rem, 1vw, 4rem);
  fill: inherit;
}

.btn--green {
  background: var(--color-green);
  color: var(--color-white);
}

.btn--blue {
  background: var(--color-blue);
  color: var(--color-white);
}

.btn--white {
  background: var(--color-white);
  color: var(--color-blue);
}

.btn--transparent {
  padding: 0;
  fill: currentColor;
}



/*=== FLAG ===*/


.flag {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.flag--pink {
  background: var(--color-pink);
  color: var(--color-blue);
}

.flag--white {
  background: var(--color-white);
  color: var(--color-blue);
}



/*=== ICON ===*/

.icon {
  width: 100%;
  height: 100%;
}

.icon--white > svg{
  fill: var(--color-white);
}

.icon--black > svg{
  fill: var(--color-blue);
}


.icon--rounded {
  width: 4.8rem;
  height: 4.8rem;
  background: var(--color-green);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon--rounded svg {
  width: 70%;
  height: 70%;
}

.icon--rectangle {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  background: var(--color-green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon--rectangle svg {
  width: 70%;
  height: 70%;
}


/*=== HEADER ===*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/*=== ADS ===*/

.ad {
  height: clamp(2.4rem,3.4vw,5.4rem);
  display: flex;
  align-items: center;
  transition: 0.3s;
  background: var(--color-white);
}

.ad.hidden {
  height: 0;
  overflow: hidden;
}

.ad__body {
  text-align: center;
}

.ad__icon {
  margin-right: 2rem;
}

.ad__icon svg{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: clamp(1rem,1.4vw,3rem);
  height: clamp(1rem,1.4vw,3rem);
}




.nav {
  background: var(--color-bg);
}

.nav__body {
  height: clamp(4rem,5vw, 10rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
}

.nav__logo {
  flex-grow: 0.3;
}

.nav__buttons svg {
  width: 2rem;
  height: 3rem;
}

.nav__content {
  flex-grow: 0.7;
  justify-content: space-between;
}

@media screen and (max-width: 620px) {
  .burger {
    display: inline-block;
  }
  .nav {
    position: relative;
  }
}

@media screen and (max-width: 620px) and (min-width: 401px) {
  .nav__buttons {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #000;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
    gap: 0;
    max-height: 0;
    overflow: hidden;
  }
  .nav__btn {
    margin: 1rem 0;
  }
  .nav__content.active .nav__buttons {
    max-height: 100vh;
    overflow: hidden;
  }

}

@media screen and (max-width: 400px) {
  .nav__content {
    padding: 0 1.5rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #000;
    flex-direction: column;
    align-items: start;
    max-height: 0;
    overflow: hidden;
    gap: 0;
  }
  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0;
  }
  .nav__buttons {
    padding: 1rem 0;
  }

  .nav__content.active  {
    max-height: 100vh;
  }
}







/*==== INTRO ====*/

.intro {
  background: var(--color-bg);
  min-height: 100vh;
  display: flex;
  align-items: end;
  padding-top: clamp(5rem, 13vh, 13rem);
  padding-bottom: clamp(1rem, 1.4vw, 4rem);
}

.intro__body {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 2vw,5rem);
}

.intro__content {
  width: 50%;
  color: var(--color-white);
  fill: var(--color-white);
}



.intro__img-block {
  width: 50%;
  height: 75vh;
  position: relative;
}

.intro__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: clamp(0.5rem,1.7vw, 3.2rem);
}

.intro__img-figure {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-50%);
  width: 14rem;
  height: 17rem;
  object-fit: contain;
}

.intro__title {
  margin-bottom: clamp(1rem,2vw, 5rem);
}

.intro__text {
  margin-bottom: clamp(2rem,2.8vw, 7rem);
}


.intro__reviews {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: clamp(2.5rem ,3.5vw, 8rem);
}

.intro__stars {
  font-size: clamp(1rem, 1.5vw, 2.6rem);
  color: var(--color-gold);
}


@media screen and (max-width: 998px) {
  .intro {
    align-items: center;
  }

  .intro__body {
    flex-direction: column;
  }

  .intro__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .intro__img-block {
    width: 100%;
    height: 35vh;
  }
  
  .intro__img {
    object-position: 0 -3.5vh;
  }

  .intro__img-figure {
    width: 10rem;
    height: 6rem;
    top: unset;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}






/*=== PLATFORM ===*/

.platform {
  padding: 4rem 0 8rem 0;
  position: relative;
}

.platform::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: var(--color-bg);
  z-index: -1;
}

.platform__uptitle {
  text-align: center;
  color: var(--color-white);
  margin-bottom: 4rem;
}


.platform__body {
  background: var(--color-pink);
  border-radius: 2.4rem;
}


@media screen and (max-width: 576px) {
  .platform {
    padding: 1rem 0 2rem 0;
  }

  .platform__uptitle {
    margin-bottom: 1rem;
  }

}





/*==== LEARN ====*/

.learn {
  padding: 5rem 0;
}

.learn__cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.learn__body .learn__cart:nth-child(2n) {
  flex-direction: row-reverse;
  margin-top: 5rem;
}

.learn__cart-img-container {
  width: 45%;
  border-radius: 2.4rem;
  overflow: hidden;
}

.learn__cart-img {
  width: 100%;
}

.learn__cart-content {
  width: 45%;
}

.learn__cart-text {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}


@media screen and (max-width: 576px) {
  .learn__cart {
    flex-direction: column;
  }

  .learn__cart-img-container,
  .learn__cart-content {
    width: 100%;
  }
  .learn__cart-img-container {
    max-height: 25vh;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  .learn__cart-img {
    object-position: 0 -12vh;
    object-fit: contain;
  }
  
  .learn__cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .learn__body .learn__cart:nth-child(2n) {
    flex-direction: column;
  }

  .learn__cart-text {
    margin: 1rem 0;
  }
}





/*=== COURSES ===*/



.courses__carts {
  --gap: 3rem;
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  margin-bottom: 5rem;
}

.courses__cart-header {
  z-index: 1;
}

.courses__cart {
  flex: 1 0 calc(100% / 3 - var(--gap));
  position: relative;
  background: var(--color-green-dark);
  min-height: 50rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-radius: 1.6rem;
  overflow: hidden;
}

.courses__cart-title {
  margin: 1.5rem 0;
}

.courses__cart-price {
  color: var(--color-white);
}

.courses__cart-img {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  /* z-index: -1; */
}

.courses__cart-btn {
  z-index: 1;
}


@media screen and (max-width: 998px) {
  .courses__carts {
    flex-wrap: wrap;
  } 

  .courses__cart {
    flex: 1 0 45%;
    min-height: 10rem;
  }
}

@media screen and (max-width: 320px) {
  .courses__cart-title {
    text-shadow: 2px 3px 5px #000;
  }
}







/*=== STUDENTS ===*/

.students__body {
  display: flex;
  align-items: center;
  border-top-left-radius: 2.4rem;
  border-bottom-left-radius: 2.4rem;
  background: var(--color-pink);
}

.students__content {
  padding-left: 6rem;
  padding-right: 2rem;
  width: 50%;
}

.students__title {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.students__btn {
  margin-top: 4rem;
}

.students__img-block {
  height: 100%;
  position: relative;
  height: 54rem;
  width: 50%;
}

.students__img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 676px) {
  .students__body {
    border-radius: 0;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
  }

  .students__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 10%;
  }

  .students__img-block {
    width: 100%;
    height: 30vh;
    object-position: center;
  }

  .students__title {
    margin: 0.5rem 0 1rem 0;
  }

  .students__btn {
    margin-top: 2rem;
  }
  
}